<div id="dialogue-view">
    <div id="dialogue-view-bar">
        <div id="dialogue-view-menu">
            <ul>
                <li><p>Save</p></li>
                <li><p>Clear</p></li>
            </ul>
        </div>
    </div>
    <div id="dialogue-view-utterances">

    </div>
    <div id="dialogue-view-buttons">

    </div>
</div>


<script>
    buildDialogueViewUtterances(document.getElementById("dialogue-view-utterances"));
    buildDialogueViewButtonBars(document.getElementById("dialogue-view-buttons"));
</script>