<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CA-Dialogue-Tagger</title>
    <link rel="stylesheet" href='../static/styles/main.css'/>
    <script src="{{ url_for('static', filename='js/jquery-3.4.0.min.js') }}"></script>
    <!--<script src="../static/js/jquery-3.4.0.min.js"></script> For Local Dev -->
    <script src="{{ url_for('static', filename='js/view-controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
</head>
<body id="body">

<!-- Navigation Bar -->
<div id="nav-bar">
    <div id="nav-menu">
        <img src="../static/images/nd_logo.png" alt="ND Logo" width="60" height="60">
        <ul>
            <li id="home" onclick="loadContent(this.id)"><p>Home</p></li>
            <li id="schema" onclick="loadContent(this.id)"><p>Schema</p></li>
            <li id="practice" onclick="loadContent(this.id)"><p>Practice</p></li>
            <li id="annotate" onclick="loadContent(this.id)"><p>Annotate</p></li>
        </ul>
    </div>
</div>

<!-- Content -->
<div id="main-content-container" class="content-container"></div>
</body>
</html>