<h1 class="title" id="conversation-analysis-schema">Conversation Analysis Schema</h1>

<div class="content">

    <!-- Contents -->
    <h2><a href="#overview">Overview</a></h2>

    <hr>

    <h5>&emsp;<a href="#adjacency-pairs-ap">Adjacency Pairs (AP)</a></h5>

    <h5>&emsp;<a href="#dialogue-acts-da">Dialogue Acts (DA)</a></h5>

    <h5>&emsp;<a href="#adjacency-pair-types-ap-types">Adjacency Pair Types (AP-types)</a></h5>


    <h2><a href="#annotation-guidelines">Annotation Guidelines</a></h2>

    <hr>

    <h5>&emsp;<a href="#adjacency-pair-sequences">Adjacency Pair Sequences</a></h5>

    <p>&emsp; <a href="#base-sequences">Base Sequences</a></p>

    <p>&emsp; <a href="#pre-and-post-sequences">Pre and Post Sequences</a></p>

    <p>&emsp; <a href="#insert-sequences">Insert Sequences</a></p>

    <p>&emsp; <a href="#minimal-expansion">Minimal Expansion</a></p>

    <h5>&emsp;<a href="#dialogue-acts-and-adjacency-pair-types-ap-types">Dialogue Acts and Adjacency Pair Types (AP-types)</a></h5>


    <h2><a href="#label-definitions">Label Definitions</a></h2>

    <hr>

    <h3><a href="#adjacency-pairs">Adjacency Pairs</a></h3>

    <h5>&emsp;<a href="#base">Base</a></h5>

    <h5>&emsp;<a href="#expansions">Expansions</a></h5>

    <p>&emsp; <a href="#pre-expansions">Pre-expansions</a></p>

    <p>&emsp; <a href="#insert-expansions">Insert-expansions</a></p>

    <p>&emsp; <a href="#post-expansions">Post-expansions</a></p>

    <h5>&emsp;<a href="#minimal-expansions">Minimal-expansions</a></h5>


    <h3><a href="#dialogue-acts">Dialogue Acts</a></h3>

    <h5>&emsp;<a href="#information-seeking-functions">Information-seeking Functions</a></h5>

    <p>&emsp; <a href="#propositional-question-yes-no">propoitionalQuestion (Yes/No)</a></p>

    <p>&emsp; <a href="#set-question-who-what-where-how">setQuestion (Who/What/Where/How)</a></p>

    <p>&emsp; <a href="#choice-question">choiceQuestion</a></p>

    <p>&emsp; <a href="#check-question">checkQuestion</a></p>

    <h5>&emsp;<a href="#information-providing-functions">Information-providing Functions</a></h5>

    <p>&emsp; <a href="#inform-statement">inform (Statement)</a></p>

    <p>&emsp; <a href="#answer">answer</a></p>

    <p>&emsp; <a href="#agreement">agreement</a></p>

    <p>&emsp; <a href="#disagreement">disagreement</a></p>

    <p>&emsp; <a href="#correction">correction</a></p>

    <p>&emsp; <a href="#confirm">confirm</a></p>

    <p>&emsp; <a href="#disconfirm">disconfirm</a></p>

    <h5>&emsp;<a href="#commissive-functions">Commissive Functions</a></h5>

    <p>&emsp; <a href="#offer">offer</a></p>

    <p>&emsp; <a href="#address-request-consider-conditionally-accept">addressRequest (Consider/Conditionally Accept)</a></p>

    <p>&emsp; <a href="#accept-request">acceptRequest</a></p>

    <p>&emsp; <a href="#decline-request">declineRequest</a></p>

    <p>&emsp; <a href="#address-suggest-consider-conditionally-accept">addressSuggest (Consider/Conditionally Accept)</a></p>

    <p>&emsp; <a href="#accept-suggest">acceptSuggest</a></p>

    <p>&emsp; <a href="#decline-suggest">declineSuggest</a></p>

    <h5>&emsp;<a href="#directive-functions">Directive Functions</a></h5>

    <p>&emsp; <a href="#request">request</a></p>

    <p>&emsp; <a href="#suggest">suggest</a></p>

    <p>&emsp; <a href="#address-offer-consider-conditionally-accept">addressOffer (Consider/Conditionally Accept)</a></p>

    <p>&emsp; <a href="#accept-offer">acceptOffer</a></p>

    <p>&emsp; <a href="#decline-offer">declineOffer</a></p>

    <h5>&emsp;<a href="#feedback-functions">Feedback Functions</a></h5>

    <p>&emsp; <a href="#auto-positive-positive-understanding-feedback">autoPositive (Positive Understanding/Feedback)</a></p>

    <p>&emsp; <a href="#auto-negative-negative-understanding-feedback">autoNegative (Negative Understanding/Feedback)</a></p>

    <h5>&emsp;<a href="#time-management-functions">Time Management Functions</a></h5>

    <p>&emsp; <a href="#stalling-pausing">stalling (Pausing)</a></p>

    <h5>&emsp;<a href="#own-and-partner-communication-management-functions">Own and Partner Communication Management Functions</a></h5>

    <p>&emsp; <a href="#retraction-abandon">retraction (Abandon)</a></p>

    <h5>&emsp;<a href="#social-obligations-management-functions">Social Obligations Management Functions</a></h5>

    <p>&emsp; <a href="#initial-greeting">initialGreeting</a></p>

    <p>&emsp; <a href="#return-greeting">returnGreeting</a></p>

    <p>&emsp; <a href="#initial-goodbye">initialGoodbye</a></p>

    <p>&emsp; <a href="#return-goodbye">returnGoodbye</a></p>

    <p>&emsp; <a href="#thanking">thanking</a></p>

    <p>&emsp; <a href="#accept-thanking">acceptThanking</a></p>

    <p>&emsp; <a href="#apology">apology</a></p>

    <p>&emsp; <a href="#accept-apology">acceptApology</a></p>

    <hr>

    <h2><a href="#references">Reference List</a></h2>

    <!-- Overview -->
    <h1 id="overview">Overview</h1>

    <p>The Conversation Analysis (CA) schema defines a domain agnostic annotation scheme for dialogue that is aligned with
        relevant theories from within the CA literature and the Dialogue Act Mark-up Language (DiAML) as defined in ISO
        24617 (British Standards Institution, 2012). The schema defines both Adjacency Pairs (AP) and Dialogue Acts (DA)
        which combine to form AP-types. The AP-type labels are designed to capture the semantic and syntactic structure of
        an interaction, in a format that is independent of the domain or topic, and which facilitate the computational
        modelling of dialogue.</p>

    <p>There are 11 AP in the schema and the set includes; FPP and SPP for base, pre, post and insert-expansions as
        described by Liddicoat, (2007) and Sidnell, (2010). Because dialogue does not always contain even numbers of
        utterances, there are also single-labels (pre, post and insert) for utterances that do not belong to conventional
        AP. These are closely related to the idea of minimal-expansions (Schegloff, 2007), in that they are not designed to
        project any further sequences of talk, but rather open, close or add to sequences respectively.</p>

    <p>The set of 35 DA are derived from the Dialogue Act Mark-up Language (DiAML) as defined in ISO 24617 (British
        Standards Institution, 2012). DiAML was developed as an empirically and theoretically well founded, application
        independent, DA annotation scheme and is also intended to be used by both human annotators and automatic annotation
        methods.</p>

    <h2 id="adjacency-pairs-ap">Adjacency Pairs (AP)</h2>

    <p>AP are the base units of sequence-construction in talk, and in their basic unexpanded form comprise of two turns by
        different speakers that take place one after the other. The initial turn is called the First Pair Part (FPP) and
        initiates an exchange, the second turn is a Second Pair Part (SPP) which are responsive to the prior FPP. For
        example:</p>

    <pre><code>
        A: Do you know the directions to the Zoo?          FPP-base

        B: Get on the subway.                              SPP-base
    </code></pre>

    <p>To account for more complex dialogue structures, AP also include the concept of expansion which allows the
        construction of sequences of talk that are made up of more than one AP, while still contributing to the same basic
        action, i.e. a question (FPP-base) could be followed by a question (FPP-insert), to elicit information required to
        better answer the initial question. For example:</p>

    <pre><code>
        A: Do you know the directions to the Zoo?          FPP-base

            B: You driving or walking?                         FPP-insert

            A: Walking.                                        SPP-insert

        B: Get on the subway.                              SPP-base
    </code></pre>

    <h2 id="dialogue-acts-da">Dialogue Acts (DA)</h2>

    <p>DA are a method of labelling the semantic content and communicative function of a single utterance of dialogue, such
        as, a question, request or greeting etc. The semantic content specifies objects, propositions and events that the DA
        is about; the communicative function specifies the way an addressee should use the semantic content to update their
        information, or dialogue, state (Bunt et al., 2012). For example, the propositional question “Do you know the
        directions to the Zoo?” contains a proposition (Do you know directions?) and an object (the Zoo). The addressee
        knows that a response is expected (communicative function) and can use this information (semantic content) to
        formulate a response.</p>

    <pre><code>
        A: Do you know the directions to the Zoo?          propQuestion

        B: Get on the subway.                              answer
    </code></pre>

    <h2 id="adjacency-pair-types-ap-types">Adjacency Pair Types (AP-types)</h2>

    <p>AP can also be ‘type related’ and this pair-type relation has the useful property of limiting the range of possible
        responses to a given FPP. For example, a question could be followed by an answer, or followed by a question
        (FPP-insert), to elicit information required to better answer the initial question. Within the CA Schema the
        AP-types are defined by the addition of a DA label. Both the AP and DA labels are combined to create an AP-type
        label for each utterance of a dialogue.</p>

    <pre><code>
        A: Do you know the directions to the Zoo?          FPP-base - propQuestion

            B: You driving or walking?                         FPP-insert - choiceQuestion

            A: Walking.                                        SPP-insert - answer

        B: Get on the subway.                              SPP-base - answer
    </code></pre>

    <p>AP then, can act as formal set of ‘rules’ which describe how an interaction can be structured and that apply to all
        types of conversation, irrespective of the current topic or objectives of the interaction. The inclusion of DA as
        semantic type-labels for adjacency-pair-parts support this structure, by enabling the identification and selection
        of subsequent pair-parts and capturing an exchange into a single structure (Boyer et al., 2009).</p>

    <!-- Annotation Guidelines -->
    <h1 id="annotation-guidelines">Annotation Guidelines</h1>

    <p>The following section provides some guidance on the application of the schema when annotating dialogue and outlines
        certain limitations or restrictions that must be considered to maintain consistency with the definitions.</p>

    <h2 id="adjacency-pair-sequences">Adjacency Pair Sequences</h2>

    <p>For all AP sequence-types; base, pre, insert and post expansions the following rules apply:</p>

    <ol>
        <li><p>The speaker of a FPP must be different to the speaker of a SPP.</p></li>

        <li><p>A FPP must be an initiation of a sequence and the SPP a response to that initiating FPP.</p></li>

        <li><p>Once a FPP has initiated a sequence, that sequence must be concluded with a SPP of the same type.</p></li>

        <li><p>The initiation and conclusion of two different sequences may not overlap each other. For example, the
            following is not permitted;</p></li>
    </ol>
    <pre><code>
        Utterance 1     FPP-base

        Utterance 2     FPP-insert

        Utterance 3     SPP-base

        Utterance 4     SPP-insert
    </code></pre>

    <h3 id="base-sequences">Base Sequences</h3>

    <p>Once a FPP-base has initiated a sequence, that sequence must be concluded with a SPP-base before any further
        base-type sequences are initiated, i.e. a base-type sequence may not be ‘nested’ within another base-type
        sequence.</p>

    <h3 id="pre-and-post-sequences">Pre and Post Sequences</h3>

    <p><em>Pre-expansions</em> and <em>Post-expansions</em> must be initiated and concluded prior to (Pre), or after (Post),
        any base-type sequence and are not permitted within base-type sequences, i.e. A <em>Pre-expansion</em> must be
        initiated and concluded prior to the initiation of a base-type sequence.</p>

    <p>Once a FPP of type Pre or Post has initiated a sequence, that sequence must be concluded with a SPP of the same type
        before any further sequences of that type are initiated, i.e. a <em>Pre-expansion</em> sequence may not be ‘nested’
        within another <em>Pre-expansion</em> sequence.</p>

    <h3 id="insert-sequences">Insert Sequences</h3>

    <p><em>Insert-expansions</em> are the only expansions permitted within a base-type sequence, and they are not permitted
        outside of a base-type sequence, i.e. within a <em>Pre-expansion</em>.</p>

    <p>Unlike base, pre and post type sequences, <em>Insert-expansion</em> are permitted to be ‘nested’, provided they abide
        by the usual constraints for AP, different speakers for FPP and SPP, not overlapping etc.</p>

    <h3 id="minimal-expansion">Minimal Expansion</h3>

    <p><em>Minimal-expansions</em> allow for additional turns that behave as expansions but consist only of one turn. Their
        primary role is to account for the uneven number of utterances in a dialogue, which is often the case, and single
        utterances that do not belong to a pair-sequence. For example, they allow the same speaker to produce more than one
        utterance of different types in succession or for a speaker to produce one utterance that does not belong to
        (initiate or conclude) an AP.</p>

    <p><em>Minimal-expansions</em> have fewer restriction that pair-sequences to allow for flexibility when annotating.
        However, they should abide by their semantic intent. For example, a <em>pre-minimal-expansion</em> should be
        relating to a future base-type sequence, a <em>post-minimal-expansion</em> to a previous base-type sequence and an
        <em>insert-minimal-expansion</em> within a sequence.</p>

    <h2 id="dialogue-acts-and-adjacency-pair-types-ap-types">Dialogue Acts and Adjacency Pair Types (AP-types)</h2>

    <p>To produce AP-types an annotator must simply select one AP and one DA for an utterance of dialogue and the
        combination of these two labels is considered an AP-type label. The selection of the DA is dependent on the <em>semantic
            content</em> and <em>communicative function</em> of the individual utterance and the AP the utterances position
        within, or relation to, the structure of the dialogue.</p>

    <p>Due to the large number of possible combinations, and to allow flexibility, the schema does not explicitly define all
        valid DA and AP combinations. Instead, annotators should consider the meaning and context within which the
        individual labels being applied to produce AP-types. The following should provide some guidance when selecting
        combinations of appropriate labels. However, while they should apply in many circumstances, these are only examples,
        not explicit rules:</p>

    <ul>
        <li><p>FPP are likely to have associated DA labels that are within the <em>Information-seeking</em> and <em>Directive</em>
            Function categories.</p></li>

        <li><p>SPP are likely to have associated DA labels that are within the <em>Information-providing</em> and <em>Commissive</em>
            Function categories.</p></li>

        <li><p>DA within the <em>Social Obligations Management</em> Functions have initiating and responsive versions, i.e.
            <em>initialGreeting</em> and <em>returnGreeting</em>, and these naturally lend themselves to FPP and SPP
            respectively.</p></li>
    </ul>

    <!-- Label Definitions -->
    <h1 id="label-definitions">Label Definitions</h1>

    <h2 id="adjacency-pairs">Adjacency Pairs</h2>

    <p>Adjacency pairs are the basic units on which sequences in conversation are
        built. Their core features are:</p>

    <ol>
        <li><p>Consist of two turns (utterances) by different speakers.</p></li>

        <li><p>Placed next to each other in basic (unexpanded) form, i.e. without an <em>expansion</em>.</p></li>

        <li><p>Are ordered, so that one always occurs after another. Initiation of a
            sequence is a <em>First Pair Part</em> (FPP) and the response <em>Second Pair Part</em> (SPP).</p></li>

        <li><p>Differentiated into AP-types. The relationship between FPP and SPP is
            constrained by the type of FPP produced i.e. a <em>question</em> followed by an <em>answer</em>.</p></li>
    </ol>

    <h2 id="base">Base</h2>

    <p>The basic sequence is composed of two ordered turns at talk, the FPP and SPP.
        Participants in conversation orient to this basic sequence structure in
        developing their talk and AP have a normative force in organizing conversation
        ,in that, AP set up expectations about how talk will proceed.</p>

    <p><strong>Labels:</strong> <em>FPP-base, SPP-base</em></p>

    <p><strong>Example:</strong></p>

    <pre><code>
        A: What time is it?        FPP-base - setQuestion

        B: Three o’ clock.         SPP-base - answer
    </code></pre>

    <h2 id="expansions">Expansions</h2>

    <p>Expansion allow talk which is made up of more than a single AP to be constructed
        and understood as performing the same basic action and the various additional
        elements are seen as doing interactional work related to the basic action under
        way. Sequence expansion is constructed in relation to a base sequence of a FPP
        and SPP in which the core action under way is achieved.
        There are three types of expansion pairs:</p>

    <h4 id="pre-expansions">Pre-expansions</h4>

    <p>Pre-expansions are designed to be preliminary to some projected base sequence
        and are hearable by participants as preludes to some other action.</p>

    <p><strong>Labels:</strong> <em>FPP-pre, SPP-pre</em></p>

    <p><strong>Example:</strong></p>

    <pre><code>
        A: What you doing?         FPP-pre - setQuestion

        B: Not much.               SPP-pre - answer

            A: Wanna drink?             FPP-base - propositionalQuestion

            B: Sure.                    SPP-base - confirm
    </code></pre>

    <h4 id="insert-expansions">Insert-expansions</h4>

    <p>Insert-expansions occur between base adjacency pairs and separates the FPP and
        SPP. Insert-expansions interrupt the activity previously underway but are still
        relevant to that action and allows the second speaker (who must produce the base
        SPP), to do interactional work relevant to the base SPP. Insert expansion is
        realised through a sequence of its own and is launched by a FPP from the second
        speaker which requires a SPP for completion. Once the sequence is completed the
        base SPP once again becomes relevant as the next action.</p>

    <p><strong>Labels:</strong> <em>FPP-insert, SPP-insert</em></p>

    <p><strong>Example:</strong></p>

    <pre><code>
        A: Do you know the directions to the Zoo?          FPP-base - propQuestion

            B: You driving or walking?                         FPP-insert - choiceQuestion

            A: Walking.                                        SPP-insert - answer

        B: Get on the subway.                              SPP-base - answer
    </code></pre>

    <h4 id="post-expansions">Post-expansions</h4>

    <p>Sequences are also potentially expandable after the completion of the base SPP.
        Once an SPP has been completed, the sequence is potentially complete: the action
        launched by the FPP has run its course and a new action could appropriately be
        begun. However, it is also possible for talk to occur after the SPP which is
        recognizably associated with the preceding sequence. That is, it is possible for
        sequences to be expanded after their SPP.</p>

    <p><strong>Labels:</strong> <em>FPP-post, SPP-post</em></p>

    <p><strong>Example:</strong></p>

    <pre><code>
        A: What is the weather like today in tomorrow?     FPP-base - setQuestion

        B: Forecast for cloudy skies today.                SPP-base - answer

            A: Okay.                                            FPP-post - autoPositive

            B: No problem.                                      SPP-post - acceptThanking
    </code></pre>

    <h4 id="minimal-expansions">Minimal-expansions</h4>

    <p>Minimal-expansion involves the addition of one additional turn to a sequence.
        The turn which is added is designed not to project any further within-sequence
        talk beyond itself; that is, it is designed to constitute a minimal expansion
        before, during or after the pair part. The primary role is to allow for
        additional turns that behave as expansions but consist only of one turn.</p>

    <p><strong>Labels:</strong> <em>Pre, Insert, Post</em></p>

    <p><strong>Example:</strong></p>

    <pre><code>
        A: My tooth hurts...                               Pre - inform

            A: When is my dentist appointment?                  FPP-base - setQuestion

                A: Who am I going with?                             Insert - setQuestion

            B: The appointment is at 11 am with your Aunt.      SPP-base - answer

                A: Thanks.                                           Post - thanking
    </code></pre>

    <h2 id="dialogue-acts">Dialogue Acts</h2>

    <p>An utterances DA describes not just its meaning, but the speakers intentions in the wider context of the
        conversation, and therefore, facilitate the computational modelling of communicative behaviour in dialogue (Bunt et
        al., 2012). The following DA are aligned with DiAML (ISO 24617-2) (British Standards Institution, 2012) and are
        arranged into eight categories according to their function.</p>

    <h2 id="information-seeking-functions">Information-seeking Functions</h2>

    <h4 id="propositional-question-yes-no">propositionalQuestion (Yes/No)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to know whether the proposition, which
        forms the semantic content, is true. S assumes that A knows whether the proposition is true or not and puts pressure
        on A to provide this information.</p>

    <p>A propositional question corresponds to what is commonly termed a YN-question in the linguistic literature. This
        standard prefers the term ‘propositional question’ because the term ‘YN-Question’ carries the suggestion that this
        kind of question can only be answered by ‘yes’ or ‘no’, which is not the case.</p>

    <p><strong>Example:</strong> “Does the meeting start at ten?”</p>

    <h4 id="set-question-who-what-where-how">setQuestion (Who/What/Where/How)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to know which elements of a given set
        have a certain property specified by the semantic content; S puts pressure on the addressee, A, to provide this
        information, which S assumes that A possesses. S believes that at least one element of the set has that
        property.</p>

    <p>A set question corresponds to what is commonly termed a WH-question in the linguistic literature. The term ‘set
        question’ is preferred because: (a) it clearly separates form from function by removing any oblique reference to
        syntactic criteria for the identification of such acts; and (b) it is not a language specific term (it may be
        further noted that even in English, not all questioning words begin with ’wh’, e.g. “How?”).</p>

    <p><strong>Example:</strong> “What time does the meeting start?”; “How far is it to the station?”</p>

    <h4 id="choice-question">choiceQuestion</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to know which one from a list of
        alternative propositions, specified by the semantic content, is true; S believes that exactly one element of that
        list is true; S assumes that the addressee, A, knows which of the alternative propositions is true, and S puts
        pressure on A to provide this information.</p>

    <p>It is not very common in annotation schemes to specifically distinguish the concept of choice questions from that of
        set questions. However, whereas it is common for the concept set question to carry the expectation that all members
        of the set with a given property should be returned by the addressee, for a choice-question the expectation is that
        there will be exactly one. The different preconditions and effects indicate that these are semantically different
        concepts, and they have been treated here as such.</p>

    <p><strong>Example:</strong> “Should the telephone cable go in telephone line or in external line?”</p>

    <h4 id="check-question">checkQuestion</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to know whether a proposition, which
        forms the semantic content, is true, S holds the uncertain belief that it is true S. S assumes that A knows whether
        the proposition is true or not and puts pressure on A to provide this information.</p>

    <p><strong>Example:</strong> “The meeting starts at ten, right?”</p>

    <h2 id="information-providing-functions">Information-providing Functions</h2>

    <h4 id="inform-statement">inform (Statement)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to make the information contained in
        the semantic content known to the addressee, A; S assumes that the information is correct.</p>

    <p>The inform function may also have more specific rhetorical functions such as: explain, elaborate, exemplify and
        justify; this is treated in this standard by means of rhetorical relations.</p>

    <p><strong>Example:</strong> “The 6.34 to Breda leaves from platform 2.”</p>

    <h4 id="answer">answer</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to make certain information available
        to the addressee, A, which S believes A wants to know; S assumes that this information is correct.</p>

    <p><strong>Example:</strong></p>

    <p>S: “what does the display say?”</p>

    <p>A: “Send error document ready.”</p>

    <h4 id="agreement">agreement</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A that S
        assumes a given proposition to be true, which S believes that A also assumes to be true.</p>

    <p>DAMSL and SWBD-DAMSL use “Agreement” to refer to various degrees in which some previous proposal, plan, opinion or
        statement is accepted; “accept” is one of these degrees; “reject” is another.</p>

    <p><strong>Example:</strong> “Exactly.”</p>

    <h4 id="disagreement">disagreement</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A that S
        assumes a given proposition to be false, which S believes that A assumes to be true.</p>

    <p>DAMSL and SWBD-DAMSL use “Agreement” to refer to various degrees in which a speaker accepts some previous proposal,
        plan, opinion or statement; “accept” is one of these degrees; “reject” is another.</p>

    <p><strong>Example:</strong></p>

    <p>S: “Do you know where to find the ink cartridge?”</p>

    <p>A: “Oh I think to the left of the paper.”</p>

    <p>S: “Uh... no.”</p>

    <h4 id="correction">correction</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that
        certain information which S has reason to believe that A assumes to be correct, is in fact incorrect and that
        instead the information that S provides is correct.</p>

    <p><strong>Example:</strong> “To Montreal, not to Ottawa.”</p>

    <h4 id="confirm">confirm</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that
        certain information that A wants to know, and concerning which A holds an uncertain belief, is indeed correct.</p>

    <p><strong>Example:</strong> “Indeed.”</p>

    <h4 id="disconfirm">disconfirm</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to let the addressee, A, know that
        certain information that A wants to know, and concerning which A holds an uncertain belief, is incorrect.</p>

    <p><strong>Example:</strong> “Nope.”</p>

    <h2 id="commissive-functions">Commissive Functions</h2>

    <h4 id="offer">offer</h4>

    <p>Communicative function of a dialogue act by which the sender, S, indicates their willingness and ability to perform
        the action, specified by the semantic content, conditional on the consent of addressee A that S do so.</p>

    <p><strong>Example:</strong> “I will look that up for you.”</p>

    <h4 id="address-request-consider-conditionally-accept">addressRequest (Consider/Conditionally Accept)</h4>

    <p>Communicative function of a dialogue act by which the sender, S, indicates that they will consider the performance of
        an action that they were requested to perform, possibly depending on certain conditions that they make explicit.</p>

    <p>The addressRequest function covers a range of possible responses to a request. If the response does not express a
        condition, then the sender commits to unconditionally perform the requested action; this is the special case of
        acceptRequest. If the condition is specified that the action be performed zero times, then the sender in fact
        declines to perform the requested action (as they commit to not perform the action).</p>

    <p><strong>Example:</strong></p>

    <p>A: “Please give me the gun.”</p>

    <p>S: “If you push the bag to me.”</p>

    <h4 id="accept-request">acceptRequest</h4>

    <p>Communicative function of a dialogue act by which the sender, S, commits them self to perform an action that they
        have been requested to perform.</p>

    <p><strong>Example:</strong> “Sure.”</p>

    <h4 id="decline-request">declineRequest</h4>

    <p>Communicative function of a dialogue act by which the sender, S, indicates that they refuse to perform an action that
        they have been requested to perform.</p>

    <p><strong>Example:</strong> “Not now.”</p>

    <h4 id="address-suggest-consider-conditionally-accept">addressSuggest (Consider/Conditionally Accept)</h4>

    <p>Communicative function of a dialogue act by which the sender, S, indicates that they will consider performing an
        action that was suggested to them, possibly depending on certain conditions that they make explicit.</p>

    <p><strong>Example:</strong></p>

    <p>A: “Let’s go there together.”</p>

    <p>S: “Only if we’re in full agreement about the way to proceed when we get there.”</p>

    <h4 id="accept-suggest">acceptSuggest</h4>

    <p>Communicative function of a dialogue act by which the sender, S, commits them self to perform an action that was
        suggested to them.</p>

    <p><strong>Example:</strong> “Let’s do that.”</p>

    <h4 id="decline-suggest">declineSuggest</h4>

    <p>Communicative function of a dialogue act by which the sender, S, indicates that they will not perform an action that
        was suggested.</p>

    <p><strong>Example:</strong> “I don’t think so.”</p>

    <h2 id="directive-functions">Directive Functions</h2>

    <h4 id="request">request</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to create a commitment for the
        addressee, A, to perform a certain action in the manner or with the frequency described by the semantic content,
        conditional on A’s consent to perform the action. S assumes that A is able to perform this action.</p>

    <p><strong>Example:</strong> “Please turn to page five”; “Please don’t do this ever again”;
        “Please drive very carefully”.</p>

    <h4 id="suggest">suggest</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to make the addressee, A, consider the
        performance of a certain action, specified by the semantic content, S believes that this action is in A’s interest,
        and assumes that A is able to perform the action.</p>

    <p><strong>Example:</strong> “Let’s wait for the speaker to finish.”</p>

    <h4 id="address-offer-consider-conditionally-accept">addressOffer (Consider/Conditionally Accept)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to indicate that they are considering
        the possibility that A performs the action or accepts on condition, possibly with certain conditions that he makes
        explicit.</p>

    <p><strong>Example:</strong> “That would be good!”</p>

    <h4 id="accept-offer">acceptOffer</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that S
        would like A to perform the action that A has offered to perform.</p>

    <p><strong>Example:</strong> “Yes please.”</p>

    <h4 id="decline-offer">declineOffer</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that S does
        not want A to perform the action that A has offered to perform.</p>

    <p><strong>Example:</strong> “No thank you.”</p>

    <h2 id="feedback-functions">Feedback Functions</h2>

    <h4 id="auto-positive-positive-understanding-feedback">autoPositive (Positive Understanding/Feedback)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A that S
        believes that S’s processing of the previous utterance(s) was successful.</p>

    <p>Feedback mostly concerns the processing of the last utterance from the addressee, but sometimes, especially in the
        case of positive feedback, it concerns a longer stretch of dialogue.</p>

    <p><strong>Example:</strong> “Uh-huh”; “Okay”; “Yes”</p>

    <h4 id="auto-negative-negative-understanding-feedback">autoNegative (Negative Understanding/Feedback)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A that S’s
        processing of the previous utterance(s) encountered a problem.</p>

    <p><strong>Example:</strong> “Sorry?”; “What?”</p>

    <h2 id="time-management-functions">Time Management Functions</h2>

    <h4 id="stalling-pausing">stalling (Pausing)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to have a little extra time to
        construct their contribution or to suspend the dialogue for a short while.</p>

    <p>Pausing occurs either in preparation of continuing the dialogue, or because something else came up which is more
        urgent for the sender to attend to.</p>

    <p><strong>Example:</strong> “Let me see...”; “Ehm...”; “Just a moment”</p>

    <h2 id="own-and-partner-communication-management-functions">Own and Partner Communication Management Functions</h2>

    <h4 id="retraction-abandon">retraction (Abandon)</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to withdraw or abandon something that
        they just said within the same turn.</p>

    <p><strong>Example:</strong> “Then we’re going to g– ”</p>

    <h2 id="social-obligations-management-functions">Social Obligations Management Functions</h2>

    <h4 id="initial-greeting">initialGreeting</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A that S is
        present and aware of A’s presence; S puts pressure on A to acknowledge this.</p>

    <p>Greetings usually come in initiative-response pairs within a dialogue; this data category corresponds to the first
        element of such a pair.</p>

    <p><strong>Example:</strong> “Hello!”; “Good morning”</p>

    <h4 id="return-greeting">returnGreeting</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to acknowledge that S is aware of the
        presence of the addressee, A, and of A having signalled their presence to S.</p>

    <h4 id="initial-goodbye">initialGoodbye</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that S
        intends the current utterance to be their final contribution to the dialogue; S puts pressure on A to acknowledge
        this.</p>

    <p>Goodbyes usually come in initiative-response pairs within a dialogue; this data category corresponds to the second
        element of such a pair. Initial and return goodbyes are commonly used to close a dialogue.</p>

    <p><strong>Example:</strong> “Bye bye, see you later.”</p>

    <h4 id="return-goodbye">returnGoodbye</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to acknowledge their awareness that the
        addressee, A, has signalled their final contribution to the dialogue and S signals in return their agreement to end
        the dialogue.</p>

    <p><strong>Example:</strong> “Bye bye, see you.”</p>

    <h4 id="thanking">thanking</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to inform the addressee, A, that S is
        grateful for some action performed by A; S puts pressure on A to acknowledge this.</p>

    <p>Utterances used for thanking often also indicate that the sender wants to end the dialogue.</p>

    <p><strong>Example:</strong> “Thanks a lot.”</p>

    <h4 id="accept-thanking">acceptThanking</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to mitigate to the feelings of
        gratitude which the addressee, A’, has expressed.</p>

    <p><strong>Example:</strong> “Don’t mention it.”</p>

    <h4 id="apology">apology</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to signal that they want the addressee,
        A, to know that S regrets something; S puts pressure on A to acknowledge this.</p>

    <p><strong>Example:</strong> “Sorry about that.”</p>

    <h4 id="accept-apology">acceptApology</h4>

    <p>Communicative function of a dialogue act performed by the sender, S, in order to mitigate, the feelings of regret
        that the addressee, A, has expressed.</p>

    <p><strong>Example:</strong> “No problem.”</p>

    <h1 id="references">References</h1>

    <p>British Standards Institution (2012) ‘ISO 24617-2: Language Resource Management
        <em>-</em> Semantic Annotation Framework (SemAF) Part 2: Dialogue acts’. British
        Standards Institution.</p>

    <p>Bunt, H. <em>et al.</em> (2012) ‘ISO 24617-2 : A Semantically-based Standard for
        Dialogue Annotation’, in <em>Proceedings of LREC 2012</em>, pp. 430–437.</p>

    <p>Liddicoat, A. J. (2007) <em>An Introduction to Conversation Analysis</em>. London:
        Continuum.</p>

    <p>Schegloff, E. A. (2007) <em>Sequence Oranization in Interaction: A Primer in
        Conversation Analysis I</em>. Cambridge: Cambridge University Press. doi:
        10.1017/CBO9780511791208.</p>

    <p>Sidnell, J. (2010) <em>Conversation Analysis - An Introduction</em>. Whiley-Blackwell.
        doi: 10.1093/acrefore/9780199384655.013.40.</p>
</div>