#dialogue-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* Dialogue View Menu */
#dialogue-view-bar {
    background-color: var(--dialogue-view-menu-bg-color);
    display: flex;
    flex: 0 1 64px;
}

#dialogue-view-menu {
    height: inherit;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#dialogue-view-menu ul {
    height: inherit;
    margin: 0;
    padding: 0;
}

#dialogue-view-menu li {
    height: inherit;
    padding: 0 16px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    border-right: 1px solid var(--menu-border-color);
    transition: 0.1s;
    cursor: pointer;
}

#dialogue-view-menu li p {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: var(--main-font);
    cursor: pointer;
}

/* Utterance View */
#dialogue-view-utterances {
    max-width: var(--max-content-width);
    min-width: var(--min-content-width);
    margin: auto;
    display: flex;
}

#utterance-list {
    list-style: none;
    padding: inherit;
}

#utterance-list li {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.utt-btn {
    max-width: 1000px;
    margin: 2px auto;
    font-family: var(--main-font);
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--dialogue-view-btn-border-color);
    transition-duration: 0.3s;
}

.utt-btn:hover {
    border-color: green;
    background-color: green;
    color: white;
}

.utt-label-container {
    max-width: 100px;
    margin: 2px 10px;
    font-family: var(--main-font);
    font-size: 16px;
}

.prev-next-btn {
    margin: 0 10px;
}

.clear-btn {
    width: 20px;
    height: 20px;
    padding-left: 1px;
    border: 2px solid #e74c3c;
    border-radius: 2px;
    background-color: whitesmoke;
    opacity: 0.6;
    transition-duration: 0.3s;
}

.clear-btn:hover {
    opacity: 1;
}


.clear-btn:active {
    transform: translateY(2px);
}

/* Dialogue View Buttons */
#dialogue-view-buttons {
    background-color: var(--dialogue-view-menu-bg-color);
}

.btn-bar {
    width: 90%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.label-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.label-button {
    display: block;
    margin: 2px 5px;
    font-family: var(--main-font);
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    transition-duration: 0.3s;
}

.label-button:hover {
    border-color: green;
    background-color: green;
    color: white;
}