/* Dialogue View Menu */
#dialogue-view-bar {
    background-color: var(--my-mid-grey);
    height: 64px;
}

#dialogue-view-menu {
    height: inherit;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#dialogue-view-menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#dialogue-view-menu li {
    padding: 0 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    transition: 0.1s;
}

#dialogue-view-menu li p {
    color: white;
    text-decoration: none;
    font-family: var(--main-font);
}

.prev-next-btn {
    margin: 0 10px;
}

.prev-next-btn img {
    display: block;
}

/* Utterance View */
#dialogue-view-utterances {
    max-width: var(--max-content-width);
    /*min-width: var(--min-content-width);*/
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

#utterance-list {
    list-style: none;
    padding: 0;
}

#utterance-list li {
    display: flex;
    align-items: center;
}

.utt-btn {
    max-width: 800px;
    margin: 2px auto;
}

.utt-btn.labelled {
    border-color: var(--my-green-color);
    background-color: var(--my-green-color);
    color: white;
}

.utt-btn.selected {
    border-color: var(--my-blue-color);
    background-color: var(--my-blue-color);
    color: white;
}

.label-container{
    width:120px;
    min-width: 120px;
    margin: 2px 10px;
    text-align: center;
    font-weight: bold;
}

.clear-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    background-image: url("../images/delete_square.png");
    background-size: cover;
    background-color: whitesmoke;
    border: none;
    opacity: 0.7;
}

.clear-btn:hover {
    opacity: 1;
    background-color: whitesmoke;
}

.clear-btn:active {
    transform: translateY(2px);
}

/* Dialogue View Buttons */
#dialogue-view-buttons {
    background-color: var(--my-mid-grey);
    margin-top: auto;
}

.btn-bar {
    width: 90%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.label-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
