#nav-bar {
    background-color: var(--menu-bg-color);
    height: 64px;
    width: 100%;
}

#nav-bar img {
    margin: 0 4px;
}

#nav-menu {
    height: inherit;
    width: 90%;
    max-width: var(--max-content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#nav-menu ul {
    height: inherit;
    margin: 0;
    padding: 0;
}

#nav-menu li {
    height: inherit;
    padding: 0 15px;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 4px solid transparent;
    border-right: 1px solid var(--menu-border-color);
    transition-duration: 0.3s;
    cursor:pointer;
}

#nav-menu li p {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: var(--main-font);
    cursor:pointer;
}

#nav-menu li:last-child {
  border-right: none;
}

/*Nav button colors*/
#nav-menu #home.active-nav-menu-btn {
    border-bottom: 4px solid var(--index-color);
}

#nav-menu #home:hover {
    border-bottom: 4px solid var(--index-color);
}

#nav-menu #schema.active-nav-menu-btn {
    border-bottom: 4px solid var(--schema-color);
}

#nav-menu #schema:hover {
    border-bottom: 4px solid var(--schema-color);
}

#nav-menu #practice.active-nav-menu-btn {
    border-bottom: 4px solid var(--practice-color);
}

#nav-menu #practice:hover {
    border-bottom: 4px solid var(--practice-color);
}

#nav-menu #annotate.active-nav-menu-btn {
    border-bottom: 4px solid var(--help-color);
}

#nav-menu #annotate:hover {
    border-bottom: 4px solid var(--help-color);
}